meta(property='og:url' content='https://livepolls.akshattrivedi.tk/')
meta(property='og:type' content='website')
meta(property='og:title' content=`${poll.name ? poll.name:'Create Live Polls'}`)
meta(property='og:description' content=`${poll.name ? 'You have been invited for voting on a poll.':'You can create polls and share them with your participants and get real time updates on the votes happening on your created poll. A project by Akshat Trivedi'}`)
meta(property='og:image' content='https://livepolls.akshattrivedi.tk/images/image.jpg')
