*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 87.5%;
  }
}
@media only screen and (min-width: 87.5em) {
  html {
    font-size: 68.75%;
  }
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 43.75%;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #333;
}

header {
  height: 25rem;
  position: relative;
}

h1 {
  font-size: 6rem;
  text-align: center;
  font-weight: 400;
  display: inline-block;
  background-image: linear-gradient(to right, #54a7f5, #0d61af);
  color: transparent;
  -webkit-background-clip: text;
}

h2 {
  font-size: 3.4rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.8rem;
  font-weight: 400;
  color: #999;
}

main {
  background-color: #f7f5fa;
  padding: 2rem 0;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.statement {
  text-align: unset;
  margin: 3rem 2rem;
}

.votes {
  padding: 2rem;
  background-color: #fcfcfc;
  box-shadow: 0 0.3rem 0.5rem rgba(3, 3, 3, 0.1);
  width: 100%;
}
.votes span {
  display: block;
  font-size: 8rem;
  text-align: center;
}

.option__count {
  color: #3489db;
}

.line {
  width: 100%;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to right,
    #4285f4 0%,
    #4285f4 25%,
    #db4437 25%,
    #db4437 50%,
    #f4a000 50%,
    #f4a000 75%,
    #0f9d58 75%,
    #0f9d58 100%
  );
}

.spin {
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border-radius: 50%;
  border: 5px solid transparent;
  border-right: 3px solid #f7f7f7;
  display: inline-block;
  margin-left: 1.5rem;
  vertical-align: middle;
  animation: spinner 0.4s linear infinite;
}

.lines {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.lines:not(:first-of-type) {
  padding: 3rem 0 0 0;
  border-top: 1px solid #b4b4b4;
}

.hide {
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 3rem;
  height: 4.5rem;
}
.hide::before {
  content: 'Click to copy';
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  vertical-align: middle;
  padding: 1rem;
  color: #111;
  position: absolute;
  top: 0;
  display: block;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
}

.hide:hover {
  cursor: pointer;
}

.links {
  background-color: #ffffff;
  padding: 1rem;
  font-size: 1.8rem;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 5px;
  font-weight: 400;
  color: #777;
  transition: all 0.3s;
  margin-bottom: 4rem;
}
.links:hover {
  cursor: pointer;
  background-color: #fafafa;
}

.cover {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(3, 3, 3, 0.8);
  z-index: 10000;
  transition: all 0.3s;
  display: none;
}
.cover__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80rem;
  background-color: #f7f5fa;
  border-radius: 5px;
  z-index: 12000;
  overflow: hidden;
}

.cover__box-canvas {
  width: 350px !important;
}

#canvas {
  width: 250px !important;
  height: 250px !important;
  display: block;
  margin: 4rem auto 6rem auto;
}

#cross {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 3rem;
}

#cross:hover {
  cursor: pointer;
}

#create {
  margin-right: 2rem;
  background-color: #4285f4 !important;
  padding: 1rem;
  font-weight: 600;
  position: relative;
  z-index: 10;
  letter-spacing: 1px;
}

#delete {
  background-color: #db4437 !important;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 1rem;
}

@media only screen and (max-width: 56.25em) {
  .cover__box {
    width: 90%;
  }
}
.cover__box-main {
  padding: 5rem 3rem;
  padding-bottom: 0;
}
.cover__box-foot {
  background-color: #ffffff;
  width: 100%;
  padding: 2rem;
}
.cover__box-foot a:link,
.cover__box-foot a:visited,
.cover__box-foot a:hover,
.cover__box-foot a:active {
  color: #3489db;
  font-size: 1.7rem;
  font-weight: 600;
}
.cover__box-foot a:link:not(:last-of-type),
.cover__box-foot a:visited:not(:last-of-type),
.cover__box-foot a:hover:not(:last-of-type),
.cover__box-foot a:active:not(:last-of-type) {
  margin-right: 2rem;
}

.warning {
  color: #f1ae30;
  font-weight: 600;
  margin-bottom: 2rem;
}
.warning::before {
  content: '!!';
  display: inline;
  margin-right: 0.4rem;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.alert {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  border-radius: 5px;
  text-align: center;
  z-index: 12000;
  padding: 1rem 2rem;
  box-shadow: 0 0.7rem 1.5rem rgba(3, 3, 3, 0.5);
  animation: alertAnimation 5s ease-in-out;
}
.alert--success {
  border-left: 5px solid #3489db;
}
.alert--fail {
  border-left: 5px solid #db4437;
}

#submit {
  background-color: rgba(52, 137, 219, 0.9) !important;
}

.question {
  font-weight: 600 !important;
  font-size: 5rem;
  margin: 2rem 0 8rem 0;
  color: #333;
  text-align: center !important;
  width: 100%;
}
@media only screen and (max-width: 37.5em) {
  .question {
    font-size: 4.3rem;
  }
  .poll__option-name {
    font-size: 3rem !important;
  }
  .poll__option-percentage {
    font-size: 3rem !important;
  }
  .alert {
    font-size: 2rem !important;
  }
  .cover__box-canvas {
    width: 90% !important;
  }
  .lines {
    font-size: 2.2rem;
  }
  #cross {
    font-size: 4rem;
  }
}

.choose,
.result {
  box-shadow: 0 0.5rem 1rem rgba(3, 3, 3, 0.2) !important;
  position: relative;
  background-size: 120%;
  background-position: center;
  margin-bottom: 3rem;
}

.total {
  font-size: 3rem;
  font-weight: 600;
}

.result {
  transition: all 0.3s;
  position: absolute;
  top: 0;
  left: 0;
}

.choose--selected,
.result--selected {
  border: 3px solid rgba(52, 137, 219, 0.5) !important;
}
.choose:hover,
.result:hover {
  cursor: pointer;
}

.alert {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  border-radius: 5px;
  text-align: center;
  z-index: 1000;
  padding: 1rem 2rem;
  box-shadow: 0 0.7rem 1.5rem rgba(3, 3, 3, 0.5);
  animation: alertAnimation 5s ease-in-out;
}
.alert--success {
  border-left: 5px solid #3489db;
}
.alert--fail {
  border-left: 5px solid #db4437;
}

@keyframes alertAnimation {
  0% {
    top: -10rem;
  }
  20% {
    top: 10%;
  }
  80% {
    opacity: 1;
  }
  100% {
    top: 10%;
    opacity: 0;
  }
}

#result-1 {
  transition: all 0.3s;
  position: absolute;
  top: 0;
  left: 0;
}
#result-1 .poll__option-progress {
  background-image: linear-gradient(to right, #3489db 55%, #e2e8f0 55%);
}

#result-2 {
  transition: all 0.3s;
  position: absolute;
  top: 0;
  left: 0;
}
#result-2 .poll__option-progress {
  background-image: linear-gradient(to right, #3489db 35%, #e2e8f0 35%);
}

#result-3 {
  transition: all 0.3s;
  position: absolute;
  top: 0;
  left: 0;
}
#result-3 .poll__option-progress {
  background-image: linear-gradient(to right, #3489db 20%, #e2e8f0 20%);
}

@media only screen and (max-width: 56.25em) {
  .footer__heading {
    margin-bottom: 25rem;
    margin-top: unset !important;
  }
}

.hero {
  width: max-content;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero__headings {
  margin-bottom: 2rem;
}

.demo__poll:link,
.demo__poll:active,
.demo__poll:hover,
.demo__poll:visited {
  color: #f7f7f7;
  background-color: #3489db;
  border-radius: 5px;
  padding: 1rem 2rem;
  transition: all 0.3s;
}

.demo__poll:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  transform: translateY(-0.5rem);
}

.demo__poll:active {
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  transform: translateY(0);
}

.poll {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.poll-results {
  width: 85%;
}
@media only screen and (max-width: 56.25em) {
  .poll {
    width: 90%;
  }
}
.poll__details {
  background-color: #fcfcfc;
  padding: 2rem;
  flex: 1;
  border-radius: 5px;
}
@media only screen and (max-width: 56.25em) {
  .poll__details {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  }
}
.poll__details-total {
  font-size: 5rem;
  font-weight: 600;
}
.poll__details-total::before {
  content: 'Total Votes';
  display: block;
  font-size: 2rem;
  color: #999;
  font-weight: 600;
}
.poll__details-share {
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.poll__details-share-icon {
  width: 4rem;
  height: 4rem;
}
.poll__details-share-icon:not(:last-of-type) {
  margin-right: 2rem;
}
.poll__details-share-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media only screen and (max-width: 56.25em) {
  .poll__details-share-icons {
    justify-content: flex-start;
  }
}
#copy_input {
  position: absolute;
  z-index: -500;
  color: #fcfcfc;
  background-color: #fcfcfc;
  border: none;
  outline: none;
}

#copy_input::selection {
  color: #fcfcfc;
  background-color: #fcfcfc;
  border: 1px solid #fcfcfc;
  outline: 1px solid #fcfcfc;
}

#copy_input:focus {
  outline: none;
  border: none;
}

.poll__details-share span {
  font-size: 2rem;
  color: #999;
  font-weight: 600;
  display: block;
  margin-bottom: 2rem;
}
.poll__content {
  display: flex;
  align-items: flex-start;
}
@media only screen and (max-width: 56.25em) {
  .poll__content {
    flex-direction: column;
  }
}
.poll__label {
  font-size: 2rem;
  font-weight: 600;
  color: #999;
}
.poll__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.poll__name {
  width: 100%;
  padding: 2rem 3rem;
  font-family: inherit;
  height: 11rem;
  background-color: #fcfcfc;
  margin: 2rem 0;
  font-size: 2.2rem;
  border-radius: 1rem;
  display: block;
  resize: none;
  outline: none;
  transition: all 0.2s;
  border: 3px solid transparent;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}
.poll__name:focus {
  border: 3px solid rgba(52, 137, 219, 0.5);
}
.poll__name::-webkit-input-placeholder {
  color: #ccc;
}
.poll__box {
  display: flex;
  flex-direction: column;
}
.poll__btn {
  width: max-content;
  background-color: #070a39;
  color: #f7f7f7;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 2rem;
  font-size: 1.8rem;
  font-weight: 600;
  word-spacing: 0.2rem;
  transition: all 0.2s;
}
.poll__btns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.poll__btn:not(:last-of-type) {
  margin-bottom: 3rem;
}
.poll__btn:hover {
  cursor: pointer;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
  transform: translateY(-0.3rem);
}
.poll__btn:active {
  cursor: pointer;
  box-shadow: unset;
  transform: translateY(0);
}
.poll__option {
  width: 100%;
  padding: 2rem;
  background-color: #fcfcfc;
  font-size: 2rem;
  display: block;
  outline: none;
  border-radius: 1rem;
  transition: all 0.2s;
  border: 3px solid transparent;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}
.poll__option-percentage {
  float: right;
  font-size: 3.5rem;
  font-weight: 600;
  display: none;
}
.poll__option-percentage--show {
  display: inline-block;
}
.poll__option-name {
  font-size: 3.5rem;
  font-weight: 600;
  width: 100%;
  display: inline-block;
}

.result .poll__option-name {
  width: 80%;
}

.poll__option-box {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content: space-between;
}
.poll__option-container:not(:last-of-type) {
  margin-bottom: 2rem;
}
.poll__option-removeIcon {
  fill: #db4437;
  width: 5rem;
  height: 5rem;
  margin-left: 3rem;
}
.poll__option-removeIcon:hover {
  cursor: pointer;
}
.poll__option:focus {
  border: 3px solid rgba(52, 137, 219, 0.5);
}
.poll__option::-webkit-input-placeholder {
  color: #ccc;
}
.poll__options {
  position: relative;
  margin-bottom: 3rem;
  transition: all 0.3s;
  flex: 0 0 70%;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 56.25em) {
  .poll__options {
    width: 100%;
  }
}
.poll__stat {
  flex: 1;
}

.result .poll__option-name,
.result .poll__option-percentage {
  font-size: 3rem;
  display: inline-block;
}

.result .poll__option-progress {
  height: 8px;
  width: 100%;
  background-color: #e2e8f0;
  border-radius: 5px;
  margin-top: 1.5rem;
}

.result .poll__option-nvotes {
  margin-top: 1rem;
  font-size: 1.6rem;
  color: #0f9d58;
}
@media only screen and (max-width: 37.5em) {
  .result .poll__option-nvotes {
    font-size: 1.9rem;
  }
}
